*{
	/*configurações gerais*/
	margin: 0;
	padding: 0;
	font-family: Arial;

}
/*remove as marcaçoes da lista*/
li{
	list-style: none;
}
a{
	text-decoration: none;
}


header{
	width: 100%;
	
}
.logo{
	width: 100%;
	height: 200px;
	background-color: #393c36;
}
.nav-bar{
	width: 100%;
	height: 7rem;
	display: grid;
	justify-content: center;
	align-content: center;

}
.spc-write{
	width: 100%;
	height: 40px;
	background-color: #dcdcdc;
}
nav{
	width: 100%;
	height: auto;
	background-color: #dcdcdc;
}
.nav-abs{
	top: 200px;
	position: absolute;
}
.nav-fix{
	top: 0;
	position: fixed;
}
.nav-bar ul{
	display: grid;
	grid-auto-flow: column;
	grid-gap: 100px;
	font-size: 20pt;

}
.nav-bar a{
	color: #000;
}
.nav-bar a:hover{
	color: red;
	transition: 0.3s;
}
main section{
	font-size: 20px;
	color: #fff;
	display: grid;
	justify-content: center;
	align-content: center;
}
main section:nth-child(odd){
	height: 100vh;
	background-color: #000;
}
main section:nth-child(even){
	height: 100vh;
	background-color: #dcdcdc;
}


/*configuraçoes das imagens*/
img {
	width: 100%;
	height: 15rem;

}

/*cor da seção produtos*/
section#produtos {
	color: #000;
}